%h1
  Welcome to Fasion, #{@order.user.email}
%p
  You have successfully submit to website and confrim your order..!!
  your username is: #{@order.user.email}.
  %br/
%p Thanks for joining and have a great day!
